body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

table {
    width: 60%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

#imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive columns */
    gap: 10px; /* Space between images */
    padding: 10px;
    margin-top: 10px;
    width: 80%;
}

#imageContainer img {
    width: 150px;
    height: auto; /* maintains aspect ratio */
    border: 3px solid black;
}


button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #808080; /* Gray */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a9a9a9; /* Darker gray */
}

#dataContainer {
    margin-top: 20px;
}

