<!DOCTYPE html> <!-- Let's the browser know this is HTML5 -->
<html lang="en">
<head>      <!-- Where metadata about the document is defined -->
    <meta charset="UTF-8">
    <title>Pollen Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Select Pollen Type</h1>
        <label for="pollen_name">Choose a pollen:</label>
        <select name="pollen_name" id="pollen_name"> 
            {% for pollen in pollen_names %}
                <option value="{{ pollen }}">{{ pollen }}</option>
            {% endfor %}
        </select>
        <button id="fetchDataBtn" aria-label="Fetch pollen data">Fetch Data</button>
        <button id="joinDataBtn" aria-label="Fetch joined pollen data">Fetch Joined Tables Data</button>
        <button id="fetchAnnotationsBtn">Fetch Annotations</button>
        <button id="displayImagesBtn">Display Images</button>
        <!-- <button id="imageToZipBtn">Zip Them Images</button> -->
        <button id="downloadZipBtn">Download Zip</button> 
        <!-- A download can be triggered with HTML5's download attribute: below is an example -->
        <!-- <a href="path_to_file" download="file_name">Download</a> -->
    <hr>
    <!-- For displaying tabular data -->
    <div id="dataContainer"></div>
    
    <button id="selectDeselect">Select/Deselect All</button>
    
    <!-- For displaying images -->
    <div id="imageContainer"></div>

    <!-- JSZip and FileSaver libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script> <!-- Helps create the ZIP-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script> <!-- Enables the ability to download the ZIP file-->
    
    <!-- Endpoints (Flask routes) -->
    <script>
        const endpoints = {
            fetchData: "{{ url_for('main.fetch_data') }}",
            getRelatedDataJoin: "{{ url_for('main.get_related_data_join') }}",
            getAnnotations: "{{ url_for('main.get_annotations') }}",
            fetchImages: "{{ url_for('main.fetch_images') }}"
        };
    </script>

    <!-- Links JS file -->
    <script src="{{ url_for('static', filename='main_page.js') }}"></script>
</body>
</html>
