<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Select Pollen Type</h1>
    <form id="queryForm" onsubmit="fetchData(event)">
        <label for="pollen_name">Choose a pollen:</label>
        <select name="pollen_name" id="pollen_name">
        <!-- Responsible for the listed names in the dropdown -->
            {% for pollen in pollen_names %}
            <option value="{{ pollen }}">{{ pollen }}</option>
            {% endfor %}
        </select>
        <button type="submit" id="fetchData">Fetch Data</button>
    </form>

    <div id="dataContainer"></div>

    <script>
        async function fetchData(event) {
            console.log(event);
            event.preventDefault(); 
             
            const form = document.getElementById('queryForm');
            const formData = new FormData(form);

            const response = await fetch('{{ url_for("main.fetch_data") }}', {
                method: 'POST',
                body: JSON.stringify({
                    pollen_name: formData.get('pollen_name')
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });


            const data = await response.json();
            console.log(data);
            const resultsDiv = document.getElementById('dataContainer');


            if (!data || data.length === 0) {
                resultsDiv.innerHTML = '<h1>No results found</h1>';
                return; // Exit the function early
            }
            resultsDiv.innerHTML = '<h1>Query Results</h1><table><thead><tr>' + Object.keys(data[0]).map(key => `<th>${key}</th>`).join('') + '</tr></thead><tbody>' + data.map(row => '<tr>' + Object.values(row).map(item => `<td>${item}</td>`).join('') + '</tr>').join('') +'</tbody></table>';
        }
    </script>
</body>
</html>